<% provide(:title, 'About') %>
<h1>About</h1>
<p>
  I'm playing with <a href="http://rubyonrails.org/">Ruby on Rails</a> and this is my
  educational project.
  See more at the <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>.
</p>
