<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Ruby on Rails tutorial <a href="http://railstutorial.org/contact">contact page</a>.
  <address>
    Created by <a href="mailto:luxusko@gmail.com">Luxusko</a>.
  </address>
</p>
