<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Find useful Ruby on Rails info at the
  <a href="http://railstutorial.org/help">Rails Tutorial help</a>.
  For more help with this particular sample project visit
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>
